/* NAVBAR SECTION */
#nav-bar {
    /* display: inline; */
    margin-left: 5%;
    padding: 0;
    overflow: hidden;
}
.nav-link {
    list-style-type: none;
    float: left;
    display: block;

}
.nav-link > a {
    display: block;
    padding: 8px;
    background-color: gray;
}

body {
    background-color: #535353;
}
p {
    /* display: block; */
    text-align: right;
    margin-right: 5%;
}

/* VIDEO STUFF */
.iframe-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
    margin: auto;
    width: 90%;
}
.iframe-container > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* FLEX PICTURE SECTION */
.flex-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-container>img {
    /* align-content: center; */
    width: 45%;
    padding: 10px;
}

@media (min-width: 1000px) {
    p {
        font-size: 30px;
        font-style: italic;
        color: rgb(202, 204, 200);
    }
}

/* field section */
input {
    width: 30%;
    color: rgb(0, 0, 0);
}

input[type=email] {
    background-color: rgb(187, 187, 187);

}
input[placeholder=email] {
    background-color: rgb(187, 187, 187);

}
.form-class {
    width: 45%;
    /* display: flex; */
    /* align-items: flex-end; */
    display: flex;
    justify-content: flex-end;
    /* flex-direction: row; */
    margin: auto;
}
.form-class > input {
    padding: 4px;
    justify-self: flex-end;
}